<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

**Navigate to the Go to UI screen** 

* Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html">link</a> for viewing  the   Go to UI screen. 


* Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.  



* Later browse for the downloaded spacex file.



<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800">


* Once done select the schema andload the file.  


 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800">


If you are facing a problem in uploading the dataset (which is a csv file), you can follow the steps below to upload the .sql file instead of the CSV file:

* Download the file <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/Spacex%20.sql">Spacex.sql</a>

* Later click on **SQL** in the  **Go to UI Screen**.

* Use the **From file** option to browse for the **SQL** file and upload it.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/sqlfile.png">

* Once you upload the script,you can use the **Run All** option to run all the queries to insert the data.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/runall.png">

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (0.3.9)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from ibm_db_sa) (3.1.4)
Requirement already satisfied: ipython-sql in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (0.4.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: prettytable<1 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: six in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.7.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.11 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.33)
Requirement already satisfied: pygments>=2.4.0 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (2.13.0)
Requirement already satisfied: matplotlib-inline in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: decorator in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.2)
Requirement already satisfied: stack-data in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.6.0)
Requirement already satisfied: colorama in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from prompt-toolkit<3.1.0,>=3.0.11->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: executing>=1.2.0 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.2.0)
Requirement already satisfied: pure-eval in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\lenovo\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.2.1)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql




**DB2 magic in case of  UI service credentials.**



<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width="600">  

* Use the following format.

* Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL**

In [3]:
#%sql ibm_db_sa://ljb07034:elv8ipRLatiuM0dI@fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:32731/bludb?security=SSL
dsn_hostname = "fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud" # e.g.: "54a2f15b-5c0f-46df-8954-7e38e612c2bd.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud"
dsn_uid = "ljb07034"        # e.g. "abc12345"
dsn_pwd = "elv8ipRLatiuM0dI"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "32731"                # e.g. "32733" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_security = "SSL"              #i.e. "SSL"
################################################
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

In [5]:
import ibm_db_dbi
import ibm_db
print(dsn)
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

###########################################################
#Retrieve Metadata for the Database Server
server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)
############################################################
#Retrieve Metadata for the Database Client / Driver
client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)


pconn = ibm_db_dbi.Connection(conn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud;PORT=32731;PROTOCOL=TCPIP;UID=ljb07034;PWD=elv8ipRLatiuM0dI;SECURITY=SSL;
Connected to database:  BLUDB as user:  ljb07034 on host:  fbd88901-ebdb-4a4f-a32e-9822b9fb237b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud
DBMS_NAME:  DB2/LINUXX8664
DBMS_VER:   11.05.0800
DB_NAME:    BLUDB
DRIVER_NAME:           DB2CLI.DLL
DRIVER_VER:            11.05.0800
DATA_SOURCE_NAME:      BLUDB
DRIVER_ODBC_VER:       03.51
ODBC_VER:              03.01.0000
ODBC_SQL_CONFORMANCE:  EXTENDED
APPL_CODEPAGE:         1252
CONN_CODEPAGE:         1208

In [55]:
%sql ibm_db_sa://

(ibm_db_dbi.InterfaceError) ibm_db_dbi::InterfaceError: connect expects a not None dsn value
(Background on this error at: http://sqlalche.me/e/13/rvf5)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [18]:
selectQuery = "select Unique(LAUNCH_SITE) from SpaceX"

import pandas as pd
LAUNCH_SITE = pd.read_sql(selectQuery, pconn)

#print just the LNAME for first row in the pandas data frame

#print the entire data frame
LAUNCH_SITE

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18500\2949212701.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  LAUNCH_SITE = pd.read_sql(selectQuery, pconn)

    LAUNCH_SITE
0   CCAFS LC-40
1  CCAFS SLC-40
2    KSC LC-39A
3   VAFB SLC-4E


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [28]:
CCA= "select * from SpaceX where (LAUNCH_SITE) LIKE 'CCA%' LIMIT 5"

CCA = pd.read_sql(CCA, pconn)

CCA

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18500\1607358372.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  CCA = pd.read_sql(CCA, pconn)

,DATE,TIME_UTC,BOOSTER_VERSION,LAUNCH_SITE,PAYLOAD,PAYLOAD_MASS_KG_,ORBIT,CUSTOMER,MISSION_OUTCOME,LANDING_OUTCOME
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [8]:
payloadmass= "select sum(PAYLOAD_MASS_KG_) as payloadmass from SpaceX"
payloadmass = pd.read_sql(payloadmass, pconn)
print(payloadmass)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18500\1498310898.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  payloadmass = pd.read_sql(payloadmass, pconn)

   PAYLOADMASS
0       619967

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [9]:
payloadmass_avg= "select avg(PAYLOAD_MASS_KG_) as payloadmass from SpaceX"
payloadmass_avg = pd.read_sql(payloadmass_avg, pconn)
print(payloadmass_avg)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18500\611444303.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  payloadmass_avg = pd.read_sql(payloadmass_avg, pconn)

   PAYLOADMASS
0         6138

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [10]:
Min_DATE= "select min(DATE)  from SpaceX"
Min_DATE = pd.read_sql(Min_DATE, pconn)
print(Min_DATE)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18500\906454258.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Min_DATE = pd.read_sql(Min_DATE, pconn)

            1
0  2010-06-04

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [11]:
BOOSTER_VERSION= "select Booster_Version from SpaceX where Landing_Outcome= 'Success (drone ship)' and PAYLOAD_MASS_KG_ BETWEEN 4000 and 6000"
BOOSTER_VERSION = pd.read_sql(BOOSTER_VERSION, pconn)
print(BOOSTER_VERSION)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18500\3242795353.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  BOOSTER_VERSION = pd.read_sql(BOOSTER_VERSION, pconn)

  BOOSTER_VERSION
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [12]:
mission_outcomes= "select count(Mission_Outcome) as missionoutcomes from SpaceX GROUP BY Mission_Outcome"
mission_outcomes = pd.read_sql(mission_outcomes, pconn)
print(mission_outcomes)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18500\3492874706.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mission_outcomes = pd.read_sql(mission_outcomes, pconn)

   MISSIONOUTCOMES
0                1
1               99
2                1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [13]:
Booster_Version_Max_Payload= "select Booster_Version as boosterversion from SpaceX where PAYLOAD_MASS_KG_=(select max(PAYLOAD_MASS_KG_) from SpaceX)"
Booster_Version_Max_Payload = pd.read_sql(Booster_Version_Max_Payload, pconn)
print(Booster_Version_Max_Payload)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18500\1528889752.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Booster_Version_Max_Payload = pd.read_sql(Booster_Version_Max_Payload, pconn)

   BOOSTERVERSION
0   F9 B5 B1048.4
1   F9 B5 B1049.4
2   F9 B5 B1051.3
3   F9 B5 B1056.4
4   F9 B5 B1048.5
5   F9 B5 B1051.4
6   F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9   F9 B5 B1051.6
10  F9 B5 B1060.3
11  F9 B5 B1049.7

### Task 9


##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [14]:
Landing_Outcomes_2015= "SELECT MONTH(DATE),Mission_Outcome,Booster_Version,Launch_Site FROM SpaceX where EXTRACT(YEAR FROM DATE)='2015'"
Landing_Outcomes_2015 = pd.read_sql(Landing_Outcomes_2015, pconn)
print(Landing_Outcomes_2015)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18500\2199536689.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Landing_Outcomes_2015 = pd.read_sql(Landing_Outcomes_2015, pconn)

    1      MISSION_OUTCOME BOOSTER_VERSION  LAUNCH_SITE
0   1              Success   F9 v1.1 B1012  CCAFS LC-40
1   2              Success   F9 v1.1 B1013  CCAFS LC-40
2   3              Success   F9 v1.1 B1014  CCAFS LC-40
3   4              Success   F9 v1.1 B1015  CCAFS LC-40
4   4              Success   F9 v1.1 B1016  CCAFS LC-40
5   6  Failure (in flight)   F9 v1.1 B1018  CCAFS LC-40
6  12              Success     F9 FT B1019  CCAFS LC-40

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [38]:
Rank_Landing_Outcomes= "select LANDING_OUTCOME, count(*) from SpaceX where Date between '2011-06-04' and '2017-03-20' group by LANDING_OUTCOME order by 2 desc"
Rank_Landing_Outcomes = pd.read_sql(Rank_Landing_Outcomes, pconn)
Rank_Landing_Outcomes

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18500\2634903157.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  Rank_Landing_Outcomes = pd.read_sql(Rank_Landing_Outcomes, pconn)

          LANDING_OUTCOME   2
0              No attempt  10
1    Failure (drone ship)   5
2    Success (drone ship)   5
3      Controlled (ocean)   3
4    Success (ground pad)   3
5    Uncontrolled (ocean)   2
6  Precluded (drone ship)   1

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-10-12 | 0.4 |Lakshmi Holla | Changed markdown|
| 2021-08-24 | 0.3 |Lakshmi Holla | Added library update|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>